%div.container#page-content
  %div.jumbotron.text-center
    %h1.font-weight-bold.text-white Wiki-Blog
    %br/
    %p.lead.text-white Welcome to Wiki-Blog, click the button to sign up and connect with users with similar interests
    %hr
    
    = link_to 'Signup', signup_path, :class => 'btn btn-success'